Methods to generate seq id/ surrogate key in pyspark
1) monotonically_increasing_id()
2) row_number()- window function
3) crc32
4) md5
5) sha1 & sha2

In [0]:
df = spark.read.csv(path='dbfs:/FileStore/data/empCompanyData.csv', header=True, inferSchema=True, nullValue='null').drop_duplicates(['EMPNO']).dropna(how='all')

In [0]:
display(df)
df.printSchema()

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,UPDATED_DATE
1234,SEKHAR,doctor,7777,null,667,78,80,2022-01-03
7369,SMITH,CLERK,7902,1980-12-17,800,null,20,2022-01-04
7499,ALLEN,SALESMAN,7698,1981-02-20,1600,300,30,2022-01-04
7521,WARD,SALESMAN,7698,1981-02-22,1250,500,30,2022-01-04
7566,JONES,MANAGER,7839,1981-02-04,2975,null,20,2022-01-05
7654,MARTIN,SALESMAN,7698,1981-09-21,1250,1400,30,2022-01-03
7698,SGR,MANAGER,7839,1981-01-05,2850,null,30,2022-01-04
7782,RAVI,MANAGER,7839,1981-09-06,2450,null,10,2022-01-02
7788,SCOTT,ANALYST,7566,1987-04-19,3000,null,20,2022-01-02
7839,KING,PRESIDENT,null,1981-11-01,5000,null,10,2022-01-02
7844,TURNER,SALESMAN,7698,1981-08-09,1500,0,30,2022-01-02
7876,ADAMS,CLERK,7788,1987-05-23,1100,null,20,2022-01-03
7900,JAMES,CLERK,7698,1981-03-12,950,null,30,2022-01-03
7902,FORD,ANALYST,7566,1981-03-12,3000,null,20,2022-01-03
7934,MILLER,CLERK,7782,1982-03-01,1300,null,10,2022-01-03

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: integer (nullable = true)
 |-- HIREDATE: date (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- COMM: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)
 |-- UPDATED_DATE: date (nullable = true)

In [0]:
#using monotonically_increasing_id() function
from pyspark.sql.functions import monotonically_increasing_id, row_number, lit, crc32, col, md5, sha2
from pyspark.sql.window import Window

In [0]:
df = df.withColumn('id', monotonically_increasing_id()+1)
display(df)

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,UPDATED_DATE,id
1234,SEKHAR,doctor,7777,null,667,78,80,2022-01-03,1
7369,SMITH,CLERK,7902,1980-12-17,800,null,20,2022-01-04,2
7499,ALLEN,SALESMAN,7698,1981-02-20,1600,300,30,2022-01-04,3
7521,WARD,SALESMAN,7698,1981-02-22,1250,500,30,2022-01-04,4
7566,JONES,MANAGER,7839,1981-02-04,2975,null,20,2022-01-05,5
7654,MARTIN,SALESMAN,7698,1981-09-21,1250,1400,30,2022-01-03,6
7698,SGR,MANAGER,7839,1981-01-05,2850,null,30,2022-01-04,7
7782,RAVI,MANAGER,7839,1981-09-06,2450,null,10,2022-01-02,8
7788,SCOTT,ANALYST,7566,1987-04-19,3000,null,20,2022-01-02,9
7839,KING,PRESIDENT,null,1981-11-01,5000,null,10,2022-01-02,10
7844,TURNER,SALESMAN,7698,1981-08-09,1500,0,30,2022-01-02,11
7876,ADAMS,CLERK,7788,1987-05-23,1100,null,20,2022-01-03,12
7900,JAMES,CLERK,7698,1981-03-12,950,null,30,2022-01-03,13
7902,FORD,ANALYST,7566,1981-03-12,3000,null,20,2022-01-03,14
7934,MILLER,CLERK,7782,1982-03-01,1300,null,10,2022-01-03,15

In [0]:
# using row_number()- window function
df.withColumn('row_number', row_number().over(Window.partitionBy(lit('')).orderBy(lit('')))).show()

+-----+------+---------+----+----------+----+----+------+------------+---+----------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE| id|row_number|
+-----+------+---------+----+----------+----+----+------+------------+---+----------+
| 1234|SEKHAR|   doctor|7777|      null| 667|  78|    80|  2022-01-03|  1|         1|
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|null|    20|  2022-01-04|  2|         2|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600| 300|    30|  2022-01-04|  3|         3|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250| 500|    30|  2022-01-04|  4|         4|
| 7566| JONES|  MANAGER|7839|1981-02-04|2975|null|    20|  2022-01-05|  5|         5|
| 7654|MARTIN| SALESMAN|7698|1981-09-21|1250|1400|    30|  2022-01-03|  6|         6|
| 7698|   SGR|  MANAGER|7839|1981-01-05|2850|null|    30|  2022-01-04|  7|         7|
| 7782|  RAVI|  MANAGER|7839|1981-09-06|2450|null|    10|  2022-01-02|  8|         8|
| 7788| SCOTT|  ANALYST|7566|1987-04-19|3000|null|    20|  2022-01-02|  9|         9|
| 7839|  KING|PRESIDENT|null|1981-11-01|5000|null|    10|  2022-01-02| 10|        10|
| 7844|TURNER| SALESMAN|7698|1981-08-09|1500|   0|    30|  2022-01-02| 11|        11|
| 7876| ADAMS|    CLERK|7788|1987-05-23|1100|null|    20|  2022-01-03| 12|        12|
| 7900| JAMES|    CLERK|7698|1981-03-12| 950|null|    30|  2022-01-03| 13|        13|
| 7902|  FORD|  ANALYST|7566|1981-03-12|3000|null|    20|  2022-01-03| 14|        14|
| 7934|MILLER|    CLERK|7782|1982-03-01|1300|null|    10|  2022-01-03| 15|        15|
+-----+------+---------+----+----------+----+----+------+------------+---+----------+

In [0]:
# crc32 method- returns random numbers, it can generate duplicates after every 100k or 200k records
df.withColumn('crc32_key', crc32(col('EMPNO').cast('string'))).show()

+-----+------+---------+----+----------+----+----+------+------------+---+----------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE| id| crc32_key|
+-----+------+---------+----+----------+----+----+------+------------+---+----------+
| 1234|SEKHAR|   doctor|7777|      null| 667|  78|    80|  2022-01-03|  1|2615402659|
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|null|    20|  2022-01-04|  2|3163315632|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600| 300|    30|  2022-01-04|  3|1046173690|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250| 500|    30|  2022-01-04|  4|3535170612|
| 7566| JONES|  MANAGER|7839|1981-02-04|2975|null|    20|  2022-01-05|  5| 683555987|
| 7654|MARTIN| SALESMAN|7698|1981-09-21|1250|1400|    30|  2022-01-03|  6|4024152101|
| 7698|   SGR|  MANAGER|7839|1981-01-05|2850|null|    30|  2022-01-04|  7|1255715586|
| 7782|  RAVI|  MANAGER|7839|1981-09-06|2450|null|    10|  2022-01-02|  8|3000238442|
| 7788| SCOTT|  ANALYST|7566|1987-04-19|3000|null|    20|  2022-01-02|  9|1375856756|
| 7839|  KING|PRESIDENT|null|1981-11-01|5000|null|    10|  2022-01-02| 10|3450750484|
| 7844|TURNER| SALESMAN|7698|1981-08-09|1500|   0|    30|  2022-01-02| 11|4234062958|
| 7876| ADAMS|    CLERK|7788|1987-05-23|1100|null|    20|  2022-01-03| 12| 964533889|
| 7900| JAMES|    CLERK|7698|1981-03-12| 950|null|    30|  2022-01-03| 13|2661140292|
| 7902|  FORD|  ANALYST|7566|1981-03-12|3000|null|    20|  2022-01-03| 14|1888724584|
| 7934|MILLER|    CLERK|7782|1982-03-01|1300|null|    10|  2022-01-03| 15|3000848542|
+-----+------+---------+----+----------+----+----+------+------------+---+----------+

In [0]:
# md5- return 32 bit hash key based in EMPNO, not suggested on more than 50 million of records
df.withColumn('md5_key', md5(col('EMPNO').cast('string'))).show(truncate=False)

+-----+------+---------+----+----------+----+----+------+------------+---+--------------------------------+
|EMPNO|ENAME |JOB      |MGR |HIREDATE  |SAL |COMM|DEPTNO|UPDATED_DATE|id |md5_key                         |
+-----+------+---------+----+----------+----+----+------+------------+---+--------------------------------+
|1234 |SEKHAR|doctor   |7777|null      |667 |78  |80    |2022-01-03  |1  |81dc9bdb52d04dc20036dbd8313ed055|
|7369 |SMITH |CLERK    |7902|1980-12-17|800 |null|20    |2022-01-04  |2  |0d7f9017fbda691900187b22404b8a1f|
|7499 |ALLEN |SALESMAN |7698|1981-02-20|1600|300 |30    |2022-01-04  |3  |7a2b33c672ce223b2aa5789171ddde2f|
|7521 |WARD  |SALESMAN |7698|1981-02-22|1250|500 |30    |2022-01-04  |4  |e1e1f667ce4596e5644be6fab627c226|
|7566 |JONES |MANAGER  |7839|1981-02-04|2975|null|20    |2022-01-05  |5  |b937384a573b94c4d7cc6004c496f919|
|7654 |MARTIN|SALESMAN |7698|1981-09-21|1250|1400|30    |2022-01-03  |6  |e2a7555f7cabd6e31aef45cb8cda4999|
|7698 |SGR   |MANAGER  |7839|1981-01-05|2850|null|30    |2022-01-04  |7  |c570c225d1fb8a72ad79995dd17a77bc|
|7782 |RAVI  |MANAGER  |7839|1981-09-06|2450|null|10    |2022-01-02  |8  |ac5c482277858d6fe45065d0a3f92b0c|
|7788 |SCOTT |ANALYST  |7566|1987-04-19|3000|null|20    |2022-01-02  |9  |866c7ee013c58f01fa153a8d32c9ed57|
|7839 |KING  |PRESIDENT|null|1981-11-01|5000|null|10    |2022-01-02  |10 |ca91c5464e73d3066825362c3093a45f|
|7844 |TURNER|SALESMAN |7698|1981-08-09|1500|0   |30    |2022-01-02  |11 |b356e7aed7ee82589e54a466e0dca157|
|7876 |ADAMS |CLERK    |7788|1987-05-23|1100|null|20    |2022-01-03  |12 |42dab56861d81108ee356d037190c315|
|7900 |JAMES |CLERK    |7698|1981-03-12|950 |null|30    |2022-01-03  |13 |400c3241004b5db7ca7f5abfef2794f2|
|7902 |FORD  |ANALYST  |7566|1981-03-12|3000|null|20    |2022-01-03  |14 |66fe2bcc701bb627e111be6847a8436c|
|7934 |MILLER|CLERK    |7782|1982-03-01|1300|null|10    |2022-01-03  |15 |6c90885b28e58d1f44856d787da2078f|
+-----+------+---------+----+----------+----+----+------+------------+---+--------------------------------+

In [0]:
#sha2- applied on records more than 50/100/200 million. returns 256 bit hash key value
df = df.withColumn('sha2_id', sha2(col('EMPNO').cast('string'),256))
df.show(truncate=False)

+-----+------+---------+----+----------+----+----+------+------------+---+----------------------------------------------------------------+
|EMPNO|ENAME |JOB      |MGR |HIREDATE  |SAL |COMM|DEPTNO|UPDATED_DATE|id |sha2_id                                                         |
+-----+------+---------+----+----------+----+----+------+------------+---+----------------------------------------------------------------+
|1234 |SEKHAR|doctor   |7777|null      |667 |78  |80    |2022-01-03  |1  |03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4|
|7369 |SMITH |CLERK    |7902|1980-12-17|800 |null|20    |2022-01-04  |2  |c59f438f16c5a409eb2a040b299e82de37503321b9cbfec4fb351547261dd1b1|
|7499 |ALLEN |SALESMAN |7698|1981-02-20|1600|300 |30    |2022-01-04  |3  |4427dc2e32a1d099dbe2e3c093a8726e0ea72b9422c36a99915dae1d31e9385f|
|7521 |WARD  |SALESMAN |7698|1981-02-22|1250|500 |30    |2022-01-04  |4  |74ed8ca63e8b4fb8b8ac06e8df400f098b0b09cf1b89c8a331e72e1919b57bd4|
|7566 |JONES |MANAGER  |7839|1981-02-04|2975|null|20    |2022-01-05  |5  |b2ca4f93866dc5f5aa73f9df7a8c8d7ce03d296a3ccb5eec5fc28717f2de4874|
|7654 |MARTIN|SALESMAN |7698|1981-09-21|1250|1400|30    |2022-01-03  |6  |b969b01c158ebfecd0ac568aee526cb1ff8811fcdc77b4d682dab89146ad9891|
|7698 |SGR   |MANAGER  |7839|1981-01-05|2850|null|30    |2022-01-04  |7  |83f9d8d707524a4f56447204e344a997fff07b23b11f206eb5d02eac91385251|
|7782 |RAVI  |MANAGER  |7839|1981-09-06|2450|null|10    |2022-01-02  |8  |d7b6fab9aa91943de418ecbacefa4b276e82fbbb07bae1f7296775cc59a6f323|
|7788 |SCOTT |ANALYST  |7566|1987-04-19|3000|null|20    |2022-01-02  |9  |16740bf13991fe083fbe5820cc8da08a5d88e5a48f44a3cfcc283c27b2797ba7|
|7839 |KING  |PRESIDENT|null|1981-11-01|5000|null|10    |2022-01-02  |10 |cc87d27285025584dc9cf888e8b1f415eca13f64bc04b9acbdc04259e9f27864|
|7844 |TURNER|SALESMAN |7698|1981-08-09|1500|0   |30    |2022-01-02  |11 |b513a7ff5978b95883e4e6f83d4d991de3b8a22827d2f5bc58986e3cee03c6b1|
|7876 |ADAMS |CLERK    |7788|1987-05-23|1100|null|20    |2022-01-03  |12 |05a4cd58579909328296060a91fa22242c6449980486c196868a007bc4ccd455|
|7900 |JAMES |CLERK    |7698|1981-03-12|950 |null|30    |2022-01-03  |13 |22191a9215264bb24037d3fa2e7d1516c97813abb7aa0a417e5a157910fb0af7|
|7902 |FORD  |ANALYST  |7566|1981-03-12|3000|null|20    |2022-01-03  |14 |7b721c50ff0220bb9376a328f3aafc0c56e1590ff644ec01bd8a43d75307c2c4|
|7934 |MILLER|CLERK    |7782|1982-03-01|1300|null|10    |2022-01-03  |15 |6a25547cf30b010a2206506ec10adb46cd02e86c40e886c2efbec3c4c7515df9|
+-----+------+---------+----+----------+----+----+------+------------+---+----------------------------------------------------------------+

In [0]:
%sql
select sha2('1234', 256)

"sha2(1234, 256)"
03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4